<h1 align="center">Recipe Name: <%= @recipe.name.capitalize %></h1>
<hr />
<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description:</strong></h4>
    <hr />
    <%= @recipe.description %>
    <p>Created by: </p>
    <p>
      <small><%= @recipe.user.username %></small>
      <div class="pull-right">created: <%= time_ago_in_words(@recipe.created_at) %></div>
    </p>
</div>